<%= render "shared/context_nav", title: t("activerecord.models.#{OProposta.model_name.i18n_key}.other") do %>
  <span class="breadcrumb-item">
    <%= link_to t("activerecord.models.#{OProposta.model_name.i18n_key}.other"), o_propostas_path, class: "text-dark" %>
  </span>
  <span class="breadcrumb-item active">
    <%= t("helpers.submit.#{params[:action]}") %>
  </span>
<% end %>
<%= simple_form_for(@o_proposta) do |f| %>
  <div class="card">
    <div class="card-header">
      <h5 class="my-0">
        <%= @o_proposta.new_record? ? "Incluir " : "Editar " %>Proposta
      </h5>
    </div>
    <div class="card-body">
      <%= f.error_notification %>
      <div class="row mb-3">
        <div class="col-4">
          <%= f.input :o_cotacao_id, collection: OCotacao.all, label_method: :descricao_completa, value_method: :id, prompt: "Selecione a Cotação" %>
        </div>
        <div class="col-4">
          <%= f.input :valor_total, input_html: { class: "capitalize" }, placeholder: "Valor total" %>
        </div>
        <div class="col-4">
          <%= f.input :prazo_execucao_dias, input_html: { class: "capitalize" }, placeholder: "Prazo execução dias" %>
        </div>
      </div>
      <h6>Itens da Proposta</h6>
      <% if @o_proposta.o_proposta_itens.empty? %>
        <p>Não há itens a preencher para esta proposta.</p>
      <% else %>
        <%= f.simple_fields_for :o_proposta_itens do |item_form| %>
          <div class="border rounded p-3 mb-3">
            <div class="row mb-2">
              <div class="col-6">
                <strong>Descrição:</strong>
                <%= item_form.object.o_cotacao_item&.descricao || "Não definido" %>
              </div>
              <div class="col-3">
                <strong>Quantidade:</strong>
                <%= item_form.input :quantidade, input_html: { readonly: true } %>
              </div>
              <div class="col-3">
                <strong>Tipo:</strong>
                <%= item_form.object.o_cotacao_item&.o_categoria_servico&.descricao || "Não definido" %>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-4">
                <%= item_form.input :valor_unitario, label: "Valor Unitário", input_html: { class: "form-control money", placeholder: "0,00" } %>
              </div>
              <div class="col-8">
                <%= item_form.input :observacao, label: "Observações", input_html: { placeholder: "Opcional" } %>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <strong>Total:</strong>
                <%= number_to_currency(item_form.object.total_item || 0) %>
              </div>
            </div>
            <%# Não precisa mais desses hidden_fields %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <%= f.submit @o_proposta.new_record? ? "Criar Proposta" : "Atualizar Proposta", class: "btn btn-primary" %>
      <%= link_to "Voltar", o_propostas_path, class: "btn btn-light" %>
    </div>
  </div>
<% end %>
