<div id="<%= dom_id o_proposta %>">
  <p>
    <strong>O cotacao:</strong>
    <%= o_proposta.o_cotacao_id %>
  </p>

  <p>
    <strong>Empresa fornecedora:</strong>
    <%= o_proposta.empresa_fornecedora_id %>
  </p>

  <p>
    <strong>Usuario envio:</strong>
    <%= o_proposta.usuario_envio_id %>
  </p>

  <p>
    <strong>Valor total:</strong>
    <%= o_proposta.valor_total %>
  </p>

  <p>
    <strong>Prazo execucao dias:</strong>
    <%= o_proposta.prazo_execucao_dias %>
  </p>

  <p>
    <strong>Validade proposta:</strong>
    <%= o_proposta.validade_proposta %>
  </p>

  <p>
    <strong>O status:</strong>
    <%= o_proposta.o_status_id %>
  </p>

  <p>
    <strong>Versao:</strong>
    <%= o_proposta.versao %>
  </p>

</div>
