<div class="container">
  <%= render "shared/notice" %>
  <div class="card border-0 shadow shadow-sm">
    <div class="card-header border-0 d-flex justify-content-between">
      <span class="fs-4">Visualizar G Condutor Veiculo</span>
    </div>
    <div class="card-body">
      <div id="<%= dom_id @g_condutor_veiculo %>">
          <p>
            <strong>G Condutor:</strong>
            <%= @g_condutor_veiculo.g_condutor %>
          </p>
          <p>
            <strong>G Veiculo:</strong>
            <%= @g_condutor_veiculo.g_veiculo %>
          </p>
          <p>
            <strong>Data Inicio:</strong>
            <%= @g_condutor_veiculo.data_inicio %>
          </p>
      </div>
    </div>
    <div class="card-footer border-0 d-flex justify-content-between">
      <div>
        <%= link_to edit_g_condutor_veiculo_path(@g_condutor_veiculo), class: "btn btn-primary" do %>
        <i class="bi bi-pencil-square"></i> Editar
        <% end %>
        <%= link_to "Voltar", g_condutores_veiculos_path, class: "btn btn-secondary" %>
      </div>
      <%= button_to "Deletar", @g_condutor_veiculo, method: :delete, class: "btn btn-outline-danger border-0" %>
    </div>
  </div>
</div>
