<div id="<%= dom_id o_nota_fiscal %>">
  <p>
    <strong>O ordem servico:</strong>
    <%= o_nota_fiscal.o_ordem_servico_id %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= o_nota_fiscal.numero %>
  </p>

  <p>
    <strong>Data emissao:</strong>
    <%= o_nota_fiscal.data_emissao %>
  </p>

  <p>
    <strong>Valor total:</strong>
    <%= o_nota_fiscal.valor_total %>
  </p>

  <p>
    <strong>O status nf:</strong>
    <%= o_nota_fiscal.o_status_nf_id %>
  </p>

</div>
