<%= simple_form_for(@g_veiculo) do |f| %>
  <div class="card">
    <div class="card-header">
      <h5><%= @g_veiculo.new_record? ? "Incluir" : "Editar" %> <%= t("activerecord.models.g_veiculo.one") %></h5>
    </div>
    <div class="card-body">
      <%= f.error_notification %>
      <div class="row">
        <div class="col-3" id="campo-placa">
          <%= f.input :placa, placeholder: "Placa", input_html: { class: "capitalize" } %>
        </div>
        <div class="col-3">
          <%= f.input :horimetro, placeholder: "Horímetro", input_html: { class: "capitalize" } %>
        </div>
        <div class="col-3">
          <%= f.input :km_atual, placeholder: "KM atual", input_html: { class: "capitalize" } %>
        </div>
        <div class="col-3">
          <%= f.input :chassi, placeholder: "Chassi" %>
        </div>
        <div class="col-3">
          <%= f.input :renavam, placeholder: "Renavam" %>
        </div>
        <div class="col-3">
          <%= f.input :modelo, placeholder: "Modelo" %>
        </div>
        <div class="col-3">
          <%= f.input :ano, placeholder: "Ano" %>
        </div>
        <div class="col-3">
          <%= f.input :marca, placeholder: "Marca" %>
        </div>
        <div class="col-3">
          <%= f.input :cor, placeholder: "Cor" %>
        </div>
        <div class="col-6">
          <%= f.input :a_status_id, collection: AStatus.all, label_method: :descricao, value_method: :id, prompt: "Selecione o Status" %>
        </div>
        <div class="col-6">
          <%= f.input :g_tipo_veiculo_id, collection: GTipoVeiculo.all, label_method: :descricao, value_method: :id, prompt: "Selecione o Tipo de Veículo" %>
        </div>
        <div class="col-6">
          <%= f.input :g_centro_custo_id, collection: GCentroCusto.all, label_method: :nome, value_method: :id, prompt: "Selecione o Centro de Custo" %>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <%= btn_submit(f) %>
      <%= link_to "Voltar", g_veiculos_path, class: "btn btn-light" %>
    </div>
  </div>
<% end %>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const tipoSelect = document.querySelector("select#g_veiculo_g_tipo_veiculo_id");
    const campoPlaca = document.getElementById("campo-placa");
    const campoKm = document.querySelector("input#g_veiculo_km_atual").closest(".col-3");
    const campoHorimetro = document.querySelector("input#g_veiculo_horimetro").closest(".col-3");

    if (!tipoSelect) return;

    function toggleCampos() {
      const selectedText = tipoSelect.options[tipoSelect.selectedIndex].text.trim();
      if (selectedText === "Máquina") {
        campoPlaca.style.display = "none";
        campoKm.style.display = "none";
        campoHorimetro.style.display = "block";
      } else {
        campoPlaca.style.display = "block";
        campoKm.style.display = "block";
        campoHorimetro.style.display = "none";
      }
    }

    tipoSelect.addEventListener("change", toggleCampos);
    toggleCampos();
  });
</script>
