<div id="<%= dom_id g_veiculo %>">
  <p>
    <strong>Placa:</strong>
    <%= g_veiculo.placa %>
  </p>

  <p>
    <strong>Chassi:</strong>
    <%= g_veiculo.chassi %>
  </p>

  <p>
    <strong>Renavam:</strong>
    <%= g_veiculo.renavam %>
  </p>

  <p>
    <strong>Modelo:</strong>
    <%= g_veiculo.modelo %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= g_veiculo.ano %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= g_veiculo.marca %>
  </p>

  <p>
    <strong>Cor:</strong>
    <%= g_veiculo.cor %>
  </p>

  <p>
    <strong>Km atual:</strong>
    <%= g_veiculo.km_atual %>
  </p>

  <p>
    <strong>A status:</strong>
    <%= g_veiculo.a_status_id %>
  </p>

  <p>
    <strong>G tipo veiculo:</strong>
    <%= g_veiculo.g_tipo_veiculo_id %>
  </p>

  <p>
    <strong>A unidade:</strong>
    <%= g_veiculo.a_unidade_id %>
  </p>

  <p>
    <strong>G centro custo:</strong>
    <%= g_veiculo.g_centro_custo_id %>
  </p>

</div>
