<div class="container">
  <%= render "shared/notice" %>
  <div class="card border-0 shadow shadow-sm">
    <div class="card-header border-0 d-flex justify-content-between">
      <span class="fs-4">Visualizar G Veiculo</span>
    </div>
    <div class="card-body">
      <div id="<%= dom_id @g_veiculo %>">
          <p>
            <strong>Placa:</strong>
            <%= @g_veiculo.placa %>
          </p>
          <p>
            <strong>Chassi:</strong>
            <%= @g_veiculo.chassi %>
          </p>
          <p>
            <strong>Renavam:</strong>
            <%= @g_veiculo.renavam %>
          </p>
          <p>
            <strong>Modelo:</strong>
            <%= @g_veiculo.modelo %>
          </p>
          <p>
            <strong>Ano:</strong>
            <%= @g_veiculo.ano %>
          </p>
          <p>
            <strong>Marca:</strong>
            <%= @g_veiculo.marca %>
          </p>
          <p>
            <strong>Cor:</strong>
            <%= @g_veiculo.cor %>
          </p>
          <p>
            <strong>Km Atual:</strong>
            <%= @g_veiculo.km_atual %>
          </p>
          <p>
            <strong>A Status:</strong>
            <%= @g_veiculo.a_status %>
          </p>
          <p>
            <strong>G Tipo Veiculo:</strong>
            <%= @g_veiculo.g_tipo_veiculo %>
          </p>
          <p>
            <strong>A Unidade:</strong>
            <%= @g_veiculo.a_unidade %>
          </p>
          <p>
            <strong>G Centro Custo:</strong>
            <%= @g_veiculo.g_centro_custo %>
          </p>
      </div>
    </div>
    <div class="card-footer border-0 d-flex justify-content-between">
      <div>
        <%= link_to edit_g_veiculo_path(@g_veiculo), class: "btn btn-primary" do %>
        <i class="bi bi-pencil-square"></i> Editar
        <% end %>
        <%= link_to "Voltar", g_veiculos_path, class: "btn btn-secondary" %>
      </div>
      <%= button_to "Deletar", @g_veiculo, method: :delete, class: "btn btn-outline-danger border-0" %>
    </div>
  </div>
</div>
