<div id="<%= dom_id o_proposta_item %>">
  <p>
    <strong>O cotacao:</strong>
    <%= o_proposta_item.o_cotacao_id %>
  </p>

  <p>
    <strong>O cotacao item:</strong>
    <%= o_proposta_item.o_cotacao_item_id %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= o_proposta_item.quantidade %>
  </p>

  <p>
    <strong>Valor unitario:</strong>
    <%= o_proposta_item.valor_unitario %>
  </p>

  <p>
    <strong>Total item:</strong>
    <%= o_proposta_item.total_item %>
  </p>

  <p>
    <strong>Observacao:</strong>
    <%= o_proposta_item.observacao %>
  </p>

</div>
