<div id="<%= dom_id a_permissao %>">
  <p>
    <strong>Nome:</strong>
    <%= a_permissao.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= a_permissao.descricao %>
  </p>

  <p>
    <strong>Recurso:</strong>
    <%= a_permissao.recurso %>
  </p>

  <p>
    <strong>Acao:</strong>
    <%= a_permissao.acao %>
  </p>

</div>
