<div id="<%= dom_id f_financeiro %>">
  <p>
    <strong>F empresa fornecedora:</strong>
    <%= f_financeiro.f_empresa_fornecedora_id %>
  </p>

  <p>
    <strong>O categoria servico:</strong>
    <%= f_financeiro.o_categoria_servico_id %>
  </p>

  <p>
    <strong>Saldo total:</strong>
    <%= f_financeiro.saldo_total %>
  </p>

  <p>
    <strong>Saldo disponivel:</strong>
    <%= f_financeiro.saldo_disponivel %>
  </p>

  <p>
    <strong>Saldo reservado:</strong>
    <%= f_financeiro.saldo_reservado %>
  </p>

</div>
