<div id="<%= dom_id g_condutor %>">
  <p>
    <strong>Nome:</strong>
    <%= g_condutor.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= g_condutor.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= g_condutor.telefone %>
  </p>

  <p>
    <strong>Cnh numero:</strong>
    <%= g_condutor.cnh_numero %>
  </p>

  <p>
    <strong>G categoria carteira condutor:</strong>
    <%= g_condutor.g_categoria_carteira_condutor_id %>
  </p>

  <p>
    <strong>Validace cnh:</strong>
    <%= g_condutor.validace_cnh %>
  </p>

  <p>
    <strong>G status:</strong>
    <%= g_condutor.g_status_id %>
  </p>

  <p>
    <strong>G carteira orgao emissor:</strong>
    <%= g_condutor.g_carteira_orgao_emissor_id %>
  </p>

</div>
