<div id="<%= dom_id g_centro_custo_movimento %>">
  <p>
    <strong>G centro custo:</strong>
    <%= g_centro_custo_movimento.g_centro_custo_id %>
  </p>

  <p>
    <strong>G tipo movimento:</strong>
    <%= g_centro_custo_movimento.g_tipo_movimento_id %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= g_centro_custo_movimento.valor %>
  </p>

  <p>
    <strong>Referencia tipo:</strong>
    <%= g_centro_custo_movimento.referencia_tipo %>
  </p>

  <p>
    <strong>Referencia:</strong>
    <%= g_centro_custo_movimento.referencia_id %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= g_centro_custo_movimento.descricao %>
  </p>

</div>
