<div id="<%= dom_id g_centro_custo %>">
  <p>
    <strong>Nome:</strong>
    <%= g_centro_custo.nome %>
  </p>

  <p>
    <strong>Codigo dotacao:</strong>
    <%= g_centro_custo.codigo_dotacao %>
  </p>

  <p>
    <strong>G tipo centro custo:</strong>
    <%= g_centro_custo.g_tipo_centro_custo_id %>
  </p>

  <p>
    <strong>A unidade:</strong>
    <%= g_centro_custo.a_unidade_id %>
  </p>

  <p>
    <strong>Valor inicial:</strong>
    <%= g_centro_custo.valor_inicial %>
  </p>

  <p>
    <strong>Saldo atual:</strong>
    <%= g_centro_custo.saldo_atual %>
  </p>

</div>
