<div id="<%= dom_id o_cotacao_item %>">
  <p>
    <strong>Descricao:</strong>
    <%= o_cotacao_item.descricao %>
  </p>

  <p>
    <strong>O cotacao:</strong>
    <%= o_cotacao_item.o_cotacao_id %>
  </p>

  <p>
    <strong>O categoria servico:</strong>
    <%= o_cotacao_item.o_categoria_servico_id %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= o_cotacao_item.quantidade %>
  </p>

  <p>
    <strong>Valor unitario:</strong>
    <%= o_cotacao_item.valor_unitario %>
  </p>

</div>
