<div id="<%= dom_id f_empresa_fornecedora %>">
  <p>
    <strong>Nome fantasia:</strong>
    <%= f_empresa_fornecedora.nome_fantasia %>
  </p>
  <p>
    <strong>Razao social:</strong>
    <%= f_empresa_fornecedora.razao_social %>
  </p>
  <p>
    <strong>Cnjp:</strong>
    <%= f_empresa_fornecedora.cnjp %>
  </p>
  <p>
    <strong>Endereco:</strong>
    <%= f_empresa_fornecedora.endereco %>
  </p>
  <p>
    <strong>Telefone:</strong>
    <%= f_empresa_fornecedora.telefone %>
  </p>
  <p>
    <strong>Contato:</strong>
    <%= f_empresa_fornecedora.contato %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= f_empresa_fornecedora.email %>
  </p>
  <p>
    <strong>A status:</strong>
    <%= f_empresa_fornecedora.a_status_id %>
  </p>
  <p>
    <strong>G municipio:</strong>
    <%= f_empresa_fornecedora.g_municipio_id %>
  </p>
</div>
