<div id="<%= dom_id f_financeiro_movimento %>">
  <p>
    <strong>Descricao:</strong>
    <%= f_financeiro_movimento.descricao %>
  </p>

  <p>
    <strong>F financeiro:</strong>
    <%= f_financeiro_movimento.f_financeiro_id %>
  </p>

  <p>
    <strong>G tipo movimento:</strong>
    <%= f_financeiro_movimento.g_tipo_movimento_id %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= f_financeiro_movimento.valor %>
  </p>

  <p>
    <strong>Observacao:</strong>
    <%= f_financeiro_movimento.observacao %>
  </p>

</div>
