<div class="container">
  <%= render "shared/notice" %>
  <div class="card border-0 shadow shadow-sm">
    <div class="card-header border-0 d-flex justify-content-between">
      <span class="fs-4">Visualizar F Empresa Servico</span>
    </div>
    <div class="card-body">
      <div id="<%= dom_id @f_empresa_servico %>">
          <p>
            <strong>F Empresa Fornecedora:</strong>
            <%= @f_empresa_servico.f_empresa_fornecedora %>
          </p>
          <p>
            <strong>O Categoria Servico:</strong>
            <%= @f_empresa_servico.o_categoria_servico %>
          </p>
      </div>
    </div>
    <div class="card-footer border-0 d-flex justify-content-between">
      <div>
        <%= link_to edit_f_empresa_servico_path(@f_empresa_servico), class: "btn btn-primary" do %>
        <i class="bi bi-pencil-square"></i> Editar
        <% end %>
        <%= link_to "Voltar", f_empresas_servicos_path, class: "btn btn-secondary" %>
      </div>
      <%= button_to "Deletar", @f_empresa_servico, method: :delete, class: "btn btn-outline-danger border-0" %>
    </div>
  </div>
</div>
