<div id="<%= dom_id o_cotacao %>">
  <p>
    <strong>O solicitacao:</strong>
    <%= o_cotacao.o_solicitacao_id %>
  </p>

  <p>
    <strong>O visibilidade:</strong>
    <%= o_cotacao.o_visibilidade_id %>
  </p>

  <p>
    <strong>O status:</strong>
    <%= o_cotacao.o_status_id %>
  </p>

  <p>
    <strong>Data expiracao:</strong>
    <%= o_cotacao.data_expiracao %>
  </p>

</div>
